<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleanSlate - Delete Reddit Comments</title>
    <link rel="stylesheet" href="../static/styles/preview.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">CleanSlate</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="preview">
        {% if preview_reddit %} 
            {% set platform = 'reddit' %}
            <h1>Preview Reddit Posts & Comments</h1>
            <div class="content">
                {% if preview_reddit['post'] %}
                    <div class="posts">
                        <h2>Posts:</h2>
                        {% for post in preview_reddit['post'] %}
                            <div class="post-item">
                                <p>{{ post.title }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    {% if preview_reddit['comment'] %}
                        <div class="comments">
                            <h2>Comments:</h2>
                            {% for comment in preview_reddit['comment'] %}
                                <div class="comment-item">
                                    <p>{{ comment.body }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
		<form action="{{ url_for('delete_platform', platform=platform) }}" method="POST" id="deleteForm" style="text-align: center;">
    			<button type="submit" class="cta-button">Delete All</button>
		</form>

                    <div id="error-message" class="error-message"></div>
                    {% else %}
		    	<h2 style="text-align: center;">There is NO post to delete.</h2>
                {% endif %}
            </div>
        {% endif %}
    </section>

    <footer>
        <p>&copy; 2024 CleanSlate | Made with &#128151;</p>
    </footer>
</body>
</html>

