<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleanSlate - Delete Reddit Comments</title>
    <link rel="stylesheet" href="../static/styles/reddit_select_date.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">CleanSlate</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="date-selection">
    {% if preview_reddit %} 
        {% set platform = 'reddit' %}
        <h1>Preview Reddit</h1>
        {% if preview_reddit['post'] %}
            <h2>Posts:</h2>
            {% for post in preview_reddit['post'] %}
                <p>{{ post.title }}</p>
            {% endfor %}
        {% endif %}
        {% if preview_reddit['comment'] %}
            <h2>Comments:</h2>
            {% for comment in preview_reddit['comment'] %}
                <p>{{ comment.body }}</p>
            {% endfor %}
        {% endif %}
        <form action="{{ url_for('delete_platform', platform=platform) }}" method="POST" id="deleteForm">
            <button type="submit" class="cta-button">Delete</button>
        </form>
        <div id="error-message" class="error-message"></div>
    {% endif %}
    </section>

    <footer>
        <p>&copy; 2024 CleanSlate | Made with &#128151;</p>
    </footer>
</body>
</html>
